discord.py
discord.py[voice]
discord-py-slash-command

rich
Halo
coloredlogs
inputimeout

configparser
PyYAML

alembic
sqlalchemy
psycopg2
git+https://github.com/yupix/dbmanager
redis
hiredis


requests
beautifulsoup4
ffmpeg
feedparser
python-dotenv

black
flake8
autopep8

fastapi
uvicorn
fastapi-versioning
fastapi-discord
